<div class="bg-gray-200 h-full w-full grid place-items-center">
    <div class="h-full w-full lg:w-7/12 p-10 overflow-x-scroll no-scrollbar flex flex-col space-y-10 min-h-screen relative">  
        <div class="bg-white h-[200px] rounded-lg p-5">
            <div class="flex lg:flex-row flex-col">
                <div class="flex-grow flex items-center">
                    <img class="w-10 h-10 rounded-full" src="{{ match.redDefender.photoUrl }}" alt="Profile Image"/>
                    <span class="flex-grow ml-2 text-xl font-bold whitespace-nowrap text-blue-600">{{ match.blueDefender.firstName }}</span>
                </div>
                <div class="flex-grow flex items-center">
                    <img class="w-10 h-10 rounded-full" src="{{ match.redAttacker.photoUrl }}" alt="Profile Image"/>
                    <span class="flex-grow ml-2 text-xl font-bold whitespace-nowrap text-blue-600">{{ match.blueAttacker.firstName }}</span>
                </div>
                <div class="flex-grow flex flex-col items-center">
                    <span class="flex-grow text-2xl text-center font-bold whitespace-nowrap">{{ match.scoreBlue }} - {{ match.scoreRed }}</span>
                    <p class="text-sm font-thin flex align-items-center">
                        <svg class="svg-icon mr-1" viewBox="0 0 20 20" width="20" height="20">
                            <path d="M10.25,2.375c-4.212,0-7.625,3.413-7.625,7.625s3.413,7.625,7.625,7.625s7.625-3.413,7.625-7.625S14.462,2.375,10.25,2.375M10.651,16.811v-0.403c0-0.221-0.181-0.401-0.401-0.401s-0.401,0.181-0.401,0.401v0.403c-3.443-0.201-6.208-2.966-6.409-6.409h0.404c0.22,0,0.401-0.181,0.401-0.401S4.063,9.599,3.843,9.599H3.439C3.64,6.155,6.405,3.391,9.849,3.19v0.403c0,0.22,0.181,0.401,0.401,0.401s0.401-0.181,0.401-0.401V3.19c3.443,0.201,6.208,2.965,6.409,6.409h-0.404c-0.22,0-0.4,0.181-0.4,0.401s0.181,0.401,0.4,0.401h0.404C16.859,13.845,14.095,16.609,10.651,16.811 M12.662,12.412c-0.156,0.156-0.409,0.159-0.568,0l-2.127-2.129C9.986,10.302,9.849,10.192,9.849,10V5.184c0-0.221,0.181-0.401,0.401-0.401s0.401,0.181,0.401,0.401v4.651l2.011,2.008C12.818,12.001,12.818,12.256,12.662,12.412"></path>
                        </svg>
                        {{ match.matchDuration }} min
                    </p>
                </div>
                <div class="flex-grow flex items-center">
                    <span class="flex-grow mr-2 text-xl text-right font-bold whitespace-nowrap text-red-600">{{ match.redAttacker.firstName }}</span>
                    <img class="w-10 h-10 rounded-full" src="{{ match.blueAttacker.photoUrl }}" alt="Profile Image"/>
                </div>
                <div class="flex-grow flex items-center">
                    <span class="flex-grow mr-2 text-xl text-right font-bold whitespace-nowrap text-red-600">{{ match.redDefender.firstName }}</span>
                    <img class="w-10 h-10 rounded-full" src="{{ match.blueDefender.photoUrl }}" alt="Profile Image"/>
                </div>
            </div>
        </div>
        <div class="bg-white h-auto rounded-lg p-4">
            <div class="flex space-x-4">
                <button
                    class="bg-blue-500 hover:bg-blue-600 text-white px-4 py-2 rounded focus:outline-none focus:shadow-outline"
                    (click)="changeCanvas('speed')"
                >
                    Velocity
                </button>
                <button
                    class="bg-blue-500 hover:bg-blue-600 text-white px-4 py-2 rounded focus:outline-none focus:shadow-outline"
                    (click)="changeCanvas('position')"
                >
                    Position
                </button>
            </div>
            
            <app-ball-speed-chart *ngIf="currentCanvas === 'speed'" [match]="match"></app-ball-speed-chart>
            <app-ball-position-chart *ngIf="currentCanvas === 'position'" [match]="match"></app-ball-position-chart>
        </div>
        
    </div>
</div>

